In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

from datetime import date, datetime, time, timezone

df = pd.read_csv('./data/38-data sources/capture-fisheries-vs-aquaculture.csv')
df.head()

In [ ]:
df.info()

In [ ]:
df.drop(['Code'], axis=1, inplace=True)
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
change_value = 0

# replace all null values with change_value
df.fillna(change_value, inplace=True)

df.isnull().sum()

In [ ]:
df["new_year"] = pd.to_datetime(df["Year"].astype(str), format='%Y')
df.set_index("new_year", inplace=True)
df.drop(["Year"], axis=1, inplace=True)

df.head()

In [ ]:
df.info()

In [ ]:
new_df = df.sort_index()
new_df.head()

In [ ]:
new_df["Entity"] = new_df["Entity"].astype("category")
new_df.info()

In [ ]:
# count all repeated values of field "Entity"
new_df["Entity"].value_counts()

In [ ]:
g = new_df.groupby(["new_year"])
g.head()

In [ ]:
type(g)
for key, group in g:
  print("+key: ", key)
  print("+number: ", len(group))
  print(group.head())
  print("\n")

In [ ]:
world_total = g.sum()
world_total.head()

In [ ]:
plt.style.use('ggplot')
world_total.plot(kind="area", alpha=0.5, stacked=False, figsize=(20, 10))

plt.legend()
plt.show()

In [ ]:
country = new_df["Entity"].value_counts()
print(country)
print("Data type =>", type(country))

In [ ]:
"South Korea" in country

In [ ]:
s = new_df.loc[new_df["Entity"] == "South Korea"]
c = new_df.loc[new_df["Entity"] == "China"]
a = new_df.loc[new_df["Entity"] == "Afghanistan"]

print(s.head())
print(c.head())
print(a.head())

In [ ]:
s_y = s[["Aquaculture production (metric tons)", "Capture fisheries production (metric tons)"]]
s_x = s.index

c_y = c[["Aquaculture production (metric tons)", "Capture fisheries production (metric tons)"]]
c_x = c.index

a_y = a[["Aquaculture production (metric tons)", "Capture fisheries production (metric tons)"]]
a_x = a.index

In [ ]:
fig, axs = plt.subplots(1, 3, figsize=(15, 5))
axs[0].plot(s_x, s_y)
axs[1].plot(c_x, c_y)
axs[2].plot(a_x, a_y)

fig.suptitle("Fish Production")