In [30]:
dic = {
    1: 1,
    2: 2,
    3: 3
}

dic.update(four=4)
dic.update(([5, 5], [6, 6]))

print(dic)

{1: 1, 2: 2, 3: 3, 'four': 4, 5: 5, 6: 6}

## fromkeys() of dictionary

In [34]:
dic = {}

keys = ["apple", "banana", "coconut"]

dic = dic.fromkeys(keys, None)

print(dic)

{'apple': None, 'banana': None, 'coconut': None}

# defaultdict of collections module

In [44]:
from collections import defaultdict

dic = {}
keys = ["apple", "banana", "coconut"]

y = dic.fromkeys(keys, 6)
print(y)

y = defaultdict(int) 
print(y)

print(dic)
print(y['blah blah blah'])

{'apple': 6, 'banana': 6, 'coconut': 6}
defaultdict(<class 'int'>, {})
{}
0

## defaultdict for counting characters of a string

In [46]:
# Already import defaultdict
import pprint

word = "No Game No Life"
counter_dic = defaultdict(int)

for letter in word: 
    counter_dic[letter] += 1
    
pprint.pprint(counter_dic)

defaultdict(<class 'int'>,
            {' ': 3,
             'G': 1,
             'L': 1,
             'N': 2,
             'a': 1,
             'e': 2,
             'f': 1,
             'i': 1,
             'm': 1,
             'o': 2})

In [51]:
products = {
    "Coffee": 7,
    "Pen": 3,
    "Paper cup": 2,
    "Milk": 1,
    "Coke": 4,
    "Book": 5
}

for key, value in products.items():
    print(key, end=' - ')

Coffee - Pen - Paper cup - Milk - Coke - Book -

## Nested dictionaries

In [53]:
terrestrial_planet = {
    "Mercury": {
        "mean_radius": 2439.7,
        "mass": 3.3022E+23,
        "orbital_period": 87.969
    },
    "Venus": {
        "mean_radius": 6051.8,
        "mass": 4.8676E+24,
        "orbital_period": 224.70069
    },
    "Earth": {
        "mean_radius": 6371.0,
        "mass": 5.97219E+24,
        "orbital_period": 365.25641
    },
    "Mars": {
        "mean_radius": 3389.5,
        "mass": 6.4185E+23,
        "orbital_period": 686.9600
    }
}

print(terrestrial_planet["Earth"]["orbital_period"])

365.25641

## Copying

In [57]:
products = {
    "Coffee": 7,
    "Pen": 3,
    "Paper cup": 2,
    "Milk": 1,
    "Coke": 4,
    "Book": 5
}

# Y is a reference to products
y = products
y["Coffee"] = 10

# .copy() method of dictionaries
# copy the dictionary meaning when something is done to z, it will not affect products
z = products.copy()
z["Coffee"] = 69

print(y)
print(z)
print(products)

{'Coffee': 10, 'Pen': 3, 'Paper cup': 2, 'Milk': 1, 'Coke': 4, 'Book': 5}
{'Coffee': 69, 'Pen': 3, 'Paper cup': 2, 'Milk': 1, 'Coke': 4, 'Book': 5}
{'Coffee': 10, 'Pen': 3, 'Paper cup': 2, 'Milk': 1, 'Coke': 4, 'Book': 5}

# Q1

In [101]:
stu_tup = (
    ("211101", "David Doe", "010-1234-4500"), 
    ("211102", "John Smith", "010-2230-6540"), 
    ("211103", "Jane Carter", "010-3232-7788"))
stu_dic = {}
keys = tuple(x[0] for x in stu_tup)
# print((keys))

i = 0
for key in keys:
    stu_dic[key] = stu_tup[i][1:]
    i += 1

pprint.pprint(stu_dic)

{'211101': ('David Doe', '010-1234-4500'),
 '211102': ('John Smith', '010-2230-6540'),
 '211103': ('Jane Carter', '010-3232-7788')}

# Q2

# datetime module

In [251]:
import datetime

d = datetime.datetime.now()

# (year, month, day, hour, minute, second, millisecond)
pprint.pprint(datetime.datetime.now())

d = d.replace(month = 10, day = 29)
d

datetime.datetime(2023, 9, 2, 15, 31, 1, 388420)

datetime.datetime(2023, 10, 29, 15, 31, 1, 388420)

# time module

In [248]:
import time

seconds = time.time()

print("Time in second currently:", seconds)

Time in second currently: 1693643348.3889124

# Q1

In [258]:
stu_tup = (
    ("211101", "David Doe", "010-1234-4500"), 
    ("211102", "John Smith", "010-2230-6540"), 
    ("211103", "Jane Carter", "010-3232-7788"))

stu_dict = defaultdict.fromkeys([t[0] for t in stu_tup], None)

for t in stu_tup:
    stu_dict[t[0]] = (t[1], t[2])

for stu in stu_tup:
    print(f"{stu[0]}: {stu[1]}")
    
user = input("Enter student ID number: ")
print(f"ID {user} student is {stu_dict[user][0]} and their phone number is {stu_dict[user][1]}")

211101: David Doe
211102: John Smith
211103: Jane Carter
Enter student ID number: 211101
ID 211101 student is David Doe and their phone number is 010-1234-4500