# Real world problem

In [7]:
cases = set()

for i in range(1, 7):
    for j in range(1, 7):
        for k in range(1, 7):
            cases.add((i, j, k))
            print((i, j, k), end="")
        print()
            
print(len(cases))

(1, 1, 1)(1, 1, 2)(1, 1, 3)(1, 1, 4)(1, 1, 5)(1, 1, 6)
(1, 2, 1)(1, 2, 2)(1, 2, 3)(1, 2, 4)(1, 2, 5)(1, 2, 6)
(1, 3, 1)(1, 3, 2)(1, 3, 3)(1, 3, 4)(1, 3, 5)(1, 3, 6)
(1, 4, 1)(1, 4, 2)(1, 4, 3)(1, 4, 4)(1, 4, 5)(1, 4, 6)
(1, 5, 1)(1, 5, 2)(1, 5, 3)(1, 5, 4)(1, 5, 5)(1, 5, 6)
(1, 6, 1)(1, 6, 2)(1, 6, 3)(1, 6, 4)(1, 6, 5)(1, 6, 6)
(2, 1, 1)(2, 1, 2)(2, 1, 3)(2, 1, 4)(2, 1, 5)(2, 1, 6)
(2, 2, 1)(2, 2, 2)(2, 2, 3)(2, 2, 4)(2, 2, 5)(2, 2, 6)
(2, 3, 1)(2, 3, 2)(2, 3, 3)(2, 3, 4)(2, 3, 5)(2, 3, 6)
(2, 4, 1)(2, 4, 2)(2, 4, 3)(2, 4, 4)(2, 4, 5)(2, 4, 6)
(2, 5, 1)(2, 5, 2)(2, 5, 3)(2, 5, 4)(2, 5, 5)(2, 5, 6)
(2, 6, 1)(2, 6, 2)(2, 6, 3)(2, 6, 4)(2, 6, 5)(2, 6, 6)
(3, 1, 1)(3, 1, 2)(3, 1, 3)(3, 1, 4)(3, 1, 5)(3, 1, 6)
(3, 2, 1)(3, 2, 2)(3, 2, 3)(3, 2, 4)(3, 2, 5)(3, 2, 6)
(3, 3, 1)(3, 3, 2)(3, 3, 3)(3, 3, 4)(3, 3, 5)(3, 3, 6)
(3, 4, 1)(3, 4, 2)(3, 4, 3)(3, 4, 4)(3, 4, 5)(3, 4, 6)
(3, 5, 1)(3, 5, 2)(3, 5, 3)(3, 5, 4)(3, 5, 5)(3, 5, 6)
(3, 6, 1)(3, 6, 2)(3, 6, 3)(3, 6, 4)(3, 6, 5)(3, 6, 6)
(4, 1, 1)(4, 1, 2)(4, 1, 3)(4, 1, 4)(4, 1, 5)(4, 1, 6)
(4, 2, 1)(4, 2, 2)(4, 2, 3)(4, 2, 4)(4, 2, 5)(4, 2, 6)
(4, 3, 1)(4, 3, 2)(4, 3, 3)(4, 3, 4)(4, 3, 5)(4, 3, 6)
(4, 4, 1)(4, 4, 2)(4, 4, 3)(4, 4, 4)(4, 4, 5)(4, 4, 6)
(4, 5, 1)(4, 5, 2)(4, 5, 3)(4, 5, 4)(4, 5, 5)(4, 5, 6)
(4, 6, 1)(4, 6, 2)(4, 6, 3)(4, 6, 4)(4, 6, 5)(4, 6, 6)
(5, 1, 1)(5, 1, 2)(5, 1, 3)(5, 1, 4)(5, 1, 5)(5, 1, 6)
(5, 2, 1)(5, 2, 2)(5, 2, 3)(5, 2, 4)(5, 2, 5)(5, 2, 6)
(5, 3, 1)(5, 3, 2)(5, 3, 3)(5, 3, 4)(5, 3, 5)(5, 3, 6)
(5, 4, 1)(5, 4, 2)(5, 4, 3)(5, 4, 4)(5, 4, 5)(5, 4, 6)
(5, 5, 1)(5, 5, 2)(5, 5, 3)(5, 5, 4)(5, 5, 5)(5, 5, 6)
(5, 6, 1)(5, 6, 2)(5, 6, 3)(5, 6, 4)(5, 6, 5)(5, 6, 6)
(6, 1, 1)(6, 1, 2)(6, 1, 3)(6, 1, 4)(6, 1, 5)(6, 1, 6)
(6, 2, 1)(6, 2, 2)(6, 2, 3)(6, 2, 4)(6, 2, 5)(6, 2, 6)
(6, 3, 1)(6, 3, 2)(6, 3, 3)(6, 3, 4)(6, 3, 5)(6, 3, 6)
(6, 4, 1)(6, 4, 2)(6, 4, 3)(6, 4, 4)(6, 4, 5)(6, 4, 6)
(6, 5, 1)(6, 5, 2)(6, 5, 3)(6, 5, 4)(6, 5, 5)(6, 5, 6)
(6, 6, 1)(6, 6, 2)(6, 6, 3)(6, 6, 4)(6, 6, 5)(6, 6, 6)
216

In [9]:
for i in range(3, 19):
    total_cases = len(cases)
    
    # n_case will be the number of cases that sum(c) >= i
    n_cases = 0
    
    for c in cases:
        if sum(c) >= i:
            n_cases += 1
    prob = n_cases * 100 / total_cases
    print("Probability of getting more than {:2d} is {:6.2f}%".format(i, prob))

Probability of getting more than  3 is 100.00%
Probability of getting more than  4 is  99.54%
Probability of getting more than  5 is  98.15%
Probability of getting more than  6 is  95.37%
Probability of getting more than  7 is  90.74%
Probability of getting more than  8 is  83.80%
Probability of getting more than  9 is  74.07%
Probability of getting more than 10 is  62.50%
Probability of getting more than 11 is  50.00%
Probability of getting more than 12 is  37.50%
Probability of getting more than 13 is  25.93%
Probability of getting more than 14 is  16.20%
Probability of getting more than 15 is   9.26%
Probability of getting more than 16 is   4.63%
Probability of getting more than 17 is   1.85%
Probability of getting more than 18 is   0.46%

# sets

In [10]:
days_list = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
days_set = set(days_list)
print(days_set)

{'Wed', 'Sat', 'Mon', 'Sun', 'Fri', 'Thu', 'Tue'}

In [20]:
fruit_tuple = ("apple", "orange", "watermelon")
fruit_set = set(fruit_tuple)
print(fruit_set)

{'apple', 'orange', 'watermelon'}

In [48]:
string = "Hello, World!"
my_set = set(string)
print(my_set)

{',', '!', 'H', ' ', 'W', 'o', 'r', 'l', 'd', 'e'}

## .add() and .romove()

In [23]:
my_set = {
    "My",
    " Name",
    " Is",
}

my_set.add(" Panha")
print(my_set)

my_set.remove(" Panha")
print(my_set)

{' Is', ' Panha', ' Name', 'My'}
{' Is', ' Name', 'My'}

## Union, intersection, difference and symmetric difference

In [29]:
first_set = {1, 2, 8, 9, 4, 5, 6}
second_set = {2, 3, 6, 8, 4, 9, 1}

print(first_set)
print(second_set)
print()

print(f"Union of first_set and second_set (w/ |): {first_set | second_set}")
print(f"Union of first_set and second_set (w/ .union()): {first_set.union(second_set)}")
print()

print(f"Intersection of first_set and second_set (w/ &): {first_set & second_set}")
print(f"Intersection of first_set and second_set (w/ .intersection()): {first_set.intersection(second_set)}")
print()
      
print(f"Difference of first_set and second_set (w/ -): {first_set - second_set}")
print(f"Difference of first_set and second_set (w/ .difference()): {first_set.difference(second_set)}")
print()

print(f"Symmetric differenc of first_set and second_set (w/ ^): {first_set ^ second_set}")
print(f"Symmetric differenc of first_set and second_set (w/ .symmetric_differnce()): {first_set.symmetric_difference(second_set)}")
print()

{1, 2, 4, 5, 6, 8, 9}
{1, 2, 3, 4, 6, 8, 9}

Union of first_set and second_set (w/ |): {1, 2, 3, 4, 5, 6, 8, 9}
Union of first_set and second_set (w/ .union()): {1, 2, 3, 4, 5, 6, 8, 9}

Intersection of first_set and second_set (w/ &): {1, 2, 4, 6, 8, 9}
Intersection of first_set and second_set (w/ .intersection()): {1, 2, 4, 6, 8, 9}

Difference of first_set and second_set (w/ -): {5}
Difference of first_set and second_set (w/ .difference()): {5}

Symmetric differenc of first_set and second_set (w/ ^): {3, 5}
Symmetric differenc of first_set and second_set (w/ .symmetric_differnce()): {3, 5}

## Multiple operators

In [30]:
s1 = {1, 2, 8, 9, 4, 5, 6}
s2 = {2, 3, 6, 8, 4, 9, 1}
s3 = {4, 5, 7, 9, 2, 1, 6}

print(s1 & s2 & s3)

{1, 2, 4, 6, 9}

## issubset(), issuperset(), isdisjoint()

In [58]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 3}
s3 = {1, 2, 6}

print(s1.issubset(s2))
print(s2.issubset(s1))
print()

print(s1.issuperset(s2))
print(s1.issuperset(s3))

False
True

True
False

In [76]:
s1 = {1, 2, 3}
s2 = {10, 20, 30}

print(s1.isdisjoint(s2))

True

In [79]:
a = {1, 3} 
b = {2, 4}

res = set()
for i in a:
    for j in b:
        res = res | {(i, j)}
        
axb = res

print("a:", a)
print("b:", b)
print("axb:", axb)

a: {1, 3}
b: {2, 4}
axb: {(3, 2), (1, 2), (3, 4), (1, 4)}

# Q1

In [82]:
lst = ["apple", "mango", "banana"]
s1 = set(lst)

print("s1 =", s1)

s1 = {'apple', 'banana', 'mango'}

# Q2

In [ ]:
s1 = {10, 20, 30, 40}
s2 = {30, 40, 50, 60, 70}

## all(), any()

In [83]:
s = {0, 1, 2, 3, 4}

all(s), any(s)

(False, True)

In [85]:
any({0, 0, 0})

False

In [87]:
all({0, 0, 0})

False

## Aliquot and greatest common factor

In [92]:
num = 10
divisors = []

for i in range(2, num):
    if num % i == 0:
        divisors.append(i)
        
print(num, "'s true aliquot:", divisors)

10 's true aliquot: [2, 5]

In [ ]:
num = 69
divisors = set()

for i in range(2, num):

## zip()

In [98]:
a = [10, 20, 30]
b = ("ten", "twenty", "thirty")

for val in zip(a, b):
    print(val)

(10, 'ten')
(20, 'twenty')