# range()

In [6]:
for i in range(10):
    print(i, "Welcome to M1!")

0 Welcome to M1!
1 Welcome to M1!
2 Welcome to M1!
3 Welcome to M1!
4 Welcome to M1!
5 Welcome to M1!
6 Welcome to M1!
7 Welcome to M1!
8 Welcome to M1!
9 Welcome to M1!

In [8]:
for _ in range(10):
    print(_, "Hello")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello

In [27]:
print(list(range(5)))
print(list(range(1, 10, 2)))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]

In [35]:
num = int(input("Enter a number: "))
s = 0
f = 1

for i in range(1, num + 1):
    s += i
    f *= i
    
print("s: ", s)
print("s: ", sum(range(1, num + 1)))

print("f: ", f)

Enter a number: 10
s:  55
s:  55
f:  3628800

In [41]:
for c in "Hello, world!":
    print(c, end=" | ")

H | e | l | l | o | , |   | w | o | r | l | d | ! |

In [45]:
skz = ["Felix", "Seungmin", "Han", "Changbin", "Hyunjin", "Lee Know", "I.N", "Bang Chan"]

for i in range(8):
    print(f"{i + 1}: " + skz[i])

1: Felix
2: Seungmin
3: Han
4: Changbin
5: Hyunjin
6: Lee Know
7: I.N
8: Bang Chan

# Quiz

In [49]:
print("Sum of integers from 1 to 100:", sum(range(1, 101)))

Sum of integers from 1 to 100: 5050

In [56]:
print("Sum of even number from 1 to 100:", sum(range(2, 101, 2)))

Sum of even number from 1 to 100: 2550

In [53]:
print("Sum of odd number from 1 to 100:", sum(range(1, 101, 2)))

Sum of odd number from 1 to 100: 2500

# for i in list

In [57]:
for i in [1, 2, 3, 4, 5]:
    print("Lol")

Lol
Lol
Lol
Lol
Lol

In [59]:
for c in "Hello, world!":
    print(c)

H
e
l
l
o
,

w
o
r
l
d
!

In [62]:
for i in range(1, 10, -1):
    print(i)

# formatting

In [75]:
print("{:5d}".format(123))
print("{:5d}".format(1))

print("{:10.4f}".format(3.14))

  123
    1
    3.1400

# The snail problem

In [86]:
curr_pos = 0
goal = 30
up = 7
down = 5
day = 1

# First day of operation "gettotheplacethesnailwanttogo"
curr_pos = up
print("Day 1: snail climb heigh:", curr_pos, "meters")

while curr_pos < goal:
    
    # Day climbing
    curr_pos += up
    
    # New day for operation "gettotheplacethesnailwanttogo"
    day += 1
    
    # Night climbing (but backward)
    curr_pos -= down
    
    print("Day", day, ":snail climb height:", curr_pos, "meters")

Day 1: snail climb heigh: 7 meters
Day 2 :snail climb height: 9 meters
Day 3 :snail climb height: 11 meters
Day 4 :snail climb height: 13 meters
Day 5 :snail climb height: 15 meters
Day 6 :snail climb height: 17 meters
Day 7 :snail climb height: 19 meters
Day 8 :snail climb height: 21 meters
Day 9 :snail climb height: 23 meters
Day 10 :snail climb height: 25 meters
Day 11 :snail climb height: 27 meters
Day 12 :snail climb height: 29 meters
Day 13 :snail climb height: 31 meters

# while loop

In [90]:
i = 0
while i < 10:
    print("Jo")
    i += 1

Jo
Jo
Jo
Jo
Jo
Jo
Jo
Jo
Jo
Jo

In [92]:
n = int(input("Enter a number: "))

s = 0
i = 1

while i <= n:
    s += i
    i += 1
    
print("Sum of 1 to {} element is {}".format(n, s))

Enter a number: 10
Sum of 1 to 10 element is 55

In [101]:
secret_numbers = [69, 420, 80085]
n = 0

while n not in secret_numbers:
    n = int(input("Guess value: "))
    
print("You win!")

Guess value: 1
Guess value: 2
Guess value: 3
Guess value: 80085
You win!