# Dictionaries

In [3]:
person = {
    "name": "PanhaJanai",
    "age": "Classified",
    "weight": "No idea"
}

person["job"] = "Certified Billionaire"
person["age"] = 19

for i in person:
    print(person[i])

PanhaJanai
19
No idea
Certified Billionaire

## del key which doesn't exist

In [6]:
person = {
    "name": "PanhaJanai",
    "age": "Classified",
    "weight": "No idea"
}

if "hometown" in person:
    del person["hometown"]
else:
    print("Cannot be deleted because it does not exist!")

Cannot be deleted because it does not exist!

## dictionaries only detect keys using []

In [9]:
person = {
    "name": "PanhaJanai",
    "age": "Classified",
    "weight": "No idea"
}

print("name" in person)
print("age" in person)
print("hometown" in person)
print("PanhaJanai" in person)

True
True
False
False

## dictionaries don't discriminate order of keys

In [22]:
dict1 = {
    "a": 1,
    "b": 2
}

dict2 = {
    "b": 2,
    "a": 1
}

print(dict1 == dict2)

True

# JSON

In [27]:
import json

data = '''{
    "name": "Panha",\
    "age": 19,\
    "hobby": ["Listening to music", "dicover new thing tech related", "build stuff using programming languages"],\
    "family": {\
        "mother": "classified",\
        "farther": "classified"\
    },\
    "Married": False\
}'''

json_data = json.loads(data)

print(type(json_data))
print(json_data)

JSONDecodeError: Expecting value: line 2 column 246 (char 247)

In [34]:
import json

data = '{"name": "Panha","age": 19,"hobby": ["Listening to music", "dicover new thing tech related", "build stuff using programming languages"],"family": {"mother": "classified","farther": "classified"},"Married": false}'

json_data = json.loads(data)

print(type(json_data))
print(json_data)

<class 'dict'>
{'name': 'Panha', 'age': 19, 'hobby': ['Listening to music', 'dicover new thing tech related', 'build stuff using programming languages'], 'family': {'mother': 'classified', 'farther': 'classified'}, 'Married': False}

In [44]:
import json

data = '{"name": "Panha","age": 19,"hobby": ["Listening to music", "dicover new thing tech related", "build stuff using programming languages"],"family": {"mother": "classified","farther": "classified"},"Married": false}'

json_data = json.loads(data)
# json_data = data

with open("me.json", 'w') as me:
    json.dump(json_data, me, indent="\t")

# Quiz 1

In [3]:
capital_dic = {
    "Korea": "Seoul",
    "China": "Beijing",
    "USA": "Washington DC"
}

print(capital_dic["Korea"])
# print(type(capital_dic["Korea"]))

Seoul
<class 'str'>

# Quiz 2

In [4]:
fruits_dic = {
    "apple": 5000,
    "banana": 4000,
    "grape": 5300,
    "melon": 6500
}

for e in fruits_dic:
    print("The price of an {} is {} KRW.".format(e, fruits_dic[e]))

The price of an apple is 5000 KRW.
The price of an banana is 4000 KRW.
The price of an grape is 5300 KRW.
The price of an melon is 6500 KRW.

In [9]:
print("<!--<h1>hello</h1>")

<!--<h1>hello</h1>

## Initialize a dictionary

In [11]:
phone_book = {}

phone_book["Abraham Lincoln"] = "012-345-678"
phone_book["Elon Musk"] = "0XX-XXX-XXX"
phone_book["Xi Jinping"] = "Unknown"

print(phone_book)

{'Abraham Lincoln': '012-345-678', 'Elon Musk': '0XX-XXX-XXX', 'Xi Jinping': 'Unknown'}

## pop in list vs dict

In [16]:
l = [0, 1, 2, 3, 4]

print("Before pop(0):", l)
print("Before pop(0) l[0]:", l[0])

l.pop(0)

print("After pop(0):", l)
print("After pop(0) l[0]:", l[0])

Before pop(0): [0, 1, 2, 3, 4]
Before pop(0) l[0]: 0
After pop(0): [1, 2, 3, 4]
After pop(0) l[0]: 1

In [21]:
dic = {0: 11, 1: 22, 2: 33, 3: 44, 4: 55}

print("Before pop(0):", dic.items())
print("Before pop(0) l[1]:", dic[1])

dic.pop(0)

print("After pop(0):", dic.items())
print("After pop(0) l[1]:", dic[1])

Before pop(0): dict_items([(0, 11), (1, 22), (2, 33), (3, 44), (4, 55)])
Before pop(0) l[1]: 22
After pop(0): dict_items([(1, 22), (2, 33), (3, 44), (4, 55)])
After pop(0) l[1]: 22

## deleting element and the whole dict

In [22]:
capital_dic = {
    "Korea": "Seoul",
    "China": "Beijing",
    "USA": "Washington DC",
    "Cambodia": "Phnom Penh"
}

del capital_dic["Korea"]
del(capital_dic["China"])

print(capital_dic)

capital_dic.clear()

print(capital_dic)

{'USA': 'Washington DC', 'Cambodia': 'Phnom Penh'}
{}

# formatting with .format()

In [27]:
print("I like {}, {} and {}.".format("C", "C++", "Python"))

print("I like {0}, {1} and {2}.".format("C", "C++", "Python"))

print("I like {0}, {0} and {0}.".format("C", "C++", "Python"))

print("I like {2}, {1} and {0}.".format("C", "C++", "Python"))

# Error
# print("I like {3}, {4} and {5}.".format("C", "C++", "Python"))

I like C, C++ and Python.
I like C, C++ and Python.
I like C, C and C.
I like Python, C++ and C.

In [41]:
for i in range(2, 100, 2):
    print("{:5} {:10,} {:10,}".format(i, i * i, i ** 3))

    2          4          8
    4         16         64
    6         36        216
    8         64        512
   10        100      1,000
   12        144      1,728
   14        196      2,744
   16        256      4,096
   18        324      5,832
   20        400      8,000
   22        484     10,648
   24        576     13,824
   26        676     17,576
   28        784     21,952
   30        900     27,000
   32      1,024     32,768
   34      1,156     39,304
   36      1,296     46,656
   38      1,444     54,872
   40      1,600     64,000
   42      1,764     74,088
   44      1,936     85,184
   46      2,116     97,336
   48      2,304    110,592
   50      2,500    125,000
   52      2,704    140,608
   54      2,916    157,464
   56      3,136    175,616
   58      3,364    195,112
   60      3,600    216,000
   62      3,844    238,328
   64      4,096    262,144
   66      4,356    287,496
   68      4,624    314,432
   70      4,900    343,000
   72      5,184    373,248
   74      5,476    405,224
   76      5,776    438,976
   78      6,084    474,552
   80      6,400    512,000
   82      6,724    551,368
   84      7,056    592,704
   86      7,396    636,056
   88      7,744    681,472
   90      8,100    729,000
   92      8,464    778,688
   94      8,836    830,584
   96      9,216    884,736
   98      9,604    941,192

# Quiz 1

In [44]:
fruits_dic = {
    "apple": 6000,
    "melon": 3000,
    "banana": 5000,
    "orange": 4000
}

fruits = fruits_dic.keys()
print(fruits)

if "apple" in fruits:
    print("Apple is in fruit_dic.")
    
if "mango" not in fruits:
    print("mango is ot in fruit_dic")

dict_keys(['apple', 'melon', 'banana', 'orange'])
Apple is in fruit_dic.
mango is not in fruit_dic

SyntaxError: invalid syntax (35268696.py, line 1)