## Population

In [4]:
population_a = (100, 150, 230, 120, 180, 100, 140, 95, 81, 21, 4)
population_b = (300, 420, 530, 420, 400, 300, 40, 5, 1, 1, 1)

old_a = sum(population_a[7:])
old_b = sum(population_b[7:])

total_a = sum(population_a)
total_b = sum(population_b)

old_rate_a = old_a / total_a
old_rate_b = old_b / total_b


print("The degree fo aging in town A and B are {:5.3f} and {:5.3f} respectively.".format(old_rate_a, old_rate_b))

The degree fo aging in town A and B are 0.165 and 0.003 respectively.

## operators: in ,  not in

In [7]:
l = [10, 20, 30, 69, 40, 50]
t = [10, 20, 30, 69, 40, 50]

print(69 in l)
print(69 not in l)

print()

print(69 in t)
print(69 not in t)

True
False

True
False

In [9]:
print('p' in "Panha")

False

## multiplying a list

In [10]:
print([1, 2, 3, 4, 5] * 2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# Tuple

In [11]:
tup1 = (1, 2, 3, 1, 4, 5, 1)
print(tup1.count(1))

3

In [12]:
str1 = "Hello, World!"

print(str1.count('l'))

3

In [13]:
ran = range(0, 5, 1)

print(len(ran))

print(ran.count(2))

5
1

In [14]:
even_list = list(range(2, 11, 2))

print("even_list: ", even_list)

even_list:  [2, 4, 6, 8, 10]

# ASCII code for the letter

In [21]:
a = ('A', 'B', 'C')
b = ('a', 'b', 'c')

print(ord(a[2]))
print(ord('1'))

print(a > b)
print(a < b)

67
49
False
True

## Q1

In [26]:
t1 = 'a', 'b', 'c'
t2 = ('a', 'b', 'c')
t3 = ('d', 'e')

print(t1 == t2)

print(t1 > t3)

print(t1 < t3)

print([t2 + t3])

print(t1)

print(sum(ord(i) for i in t1))
print(sum(ord(i) for i in t2))
print(sum(ord(i) for i in t3))

True
False
True
[('a', 'b', 'c', 'd', 'e')]
('a', 'b', 'c')
294
294
201

## Q2

In [36]:
sales = (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)

n = 0

for i in range(len(sales) - 1): 
    if sales[i + 1] < sales[i]:
        n += 1
        
print(n)
n = 0

for i, s in enumerate(sales[:-1]):
    if sales[i + 1] < sales[i]:
        n += 1
        
print(n)

3
3

In [41]:
dic = {"v": 1234}
print(dic.get("jhfsdoidjoi"))
print(dic.get('v'))

if dic.get("sdddf"):
    print("LOOOOOOL")

None
1234

## Swap values

In [43]:
a = 1
b = 2

b, a = a, b

print(a, b)

2 1

## sort()

In [45]:
tup = (1, 4, 5, 6, 7, 9, 0, 2, 3, 8)

temp = list(tup)

temp.sort()

print(temp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Q1

In [55]:
t = (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3, 9)
d = {}
l = []

# Pair each number with its counts
for e in set(t):
    d[e] = t.count(e)
    
# print(d)

# Go through the dictionary to see what is the biggest count of all the numbers
maximun = max([d[k] for k in d])

# Search every keys for its value. If the value is equal to maximun, append it to a list.
for k in d:
    if d[k] == maximun:
        l.append(k)
        
# print(l)

# Print the bigger number between the numbers in list l
print("The most frequent element:", max(l))

The most frequent element: 9