# Print Hello using print with both ' and "

In [27]:
print("Hello")

Hello

In [28]:
print('Hello')

Hello

# Multiple-lined string

In [29]:
str = """
    Roses are red,
    Violets are blue,
    ...
"""

print(str)

    Roses are red,
    Violets are blue,
    ...

# Print multiple words using , in print()

In [30]:
print("Hello,", "World")

Hello, World

# Plus operator with strings

In [31]:
name = "panha"
print("My name's " + name)

My name's panha

# Multiplication with strings

In [32]:
print("I", "really " * 3 + "love Python")

I really really really love Python

# end parameter in print()

In [33]:
print("Hello, ", end="my name is my name!")

Hello, my name is my name!

In [34]:
print('''
    This
    is
    so
    cool
''', end="my name is my name!")

    This
    is
    so
    cool
my name is my name!

# sep in print()

In [35]:
print("$100", "50", "20", "10", "5", "2", "1", sep=" $")

$100 $50 $20 $10 $5 $2 $1

# CV

In [36]:
print("Hell, my name is Panha!")
print("Age: 19")
print("Job: N/A")
print("Address: Takmao, Kandal, Cambodia")
print("------" * 7)

Hell, my name is Panha!
Age: 19
Job: N/A
Address: Takmao, Kandal, Cambodia
------------------------------------------

# If statement but in different line??

In [37]:
if name == "Panha" or name == "panha" and age == 19 and sex == "M":
    print("He is so cool!")

NameError: name 'age' is not defined

# try & except statement

In [42]:
try:
    a, b = input("Enter two number: ").split()
    result = float(a) * float(b)
    print("{} * {} is {}.".format(a, b , result))
except ValueError:
    print("Look like someone did not follow the instruction!")

Enter two number: 3434 354345
3434 * 354345 is 1216820730.0.

# Quiz

In [84]:
# ssss*
# sss***
# ss*****
# s*******
# *********

n = int(input("Enter number: "))
l = n

for i in range(1, n + 1):
    for j in range(int(n - i)):
        print(" ", end="")
    for k in range(int(n - l) + 1):
        print("*", end="")
    l -= 2
    print()

l = 3
    
for i in range(n - 1):
    for j in range(int(i + 1)): 
        print(" ", end="")
    for k in range(int(n * 2 - l)):
        print("*", end="")
    print()
    l += 2

Enter number: 30
                             *
                            ***
                           *****
                          *******
                         *********
                        ***********
                       *************
                      ***************
                     *****************
                    *******************
                   *********************
                  ***********************
                 *************************
                ***************************
               *****************************
              *******************************
             *********************************
            ***********************************
           *************************************
          ***************************************
         *****************************************
        *******************************************
       *********************************************
      ***********************************************
     *************************************************
    ***************************************************
   *****************************************************
  *******************************************************
 *********************************************************
***********************************************************
 *********************************************************
  *******************************************************
   *****************************************************
    ***************************************************
     *************************************************
      ***********************************************
       *********************************************
        *******************************************
         *****************************************
          ***************************************
           *************************************
            ***********************************
             *********************************
              *******************************
               *****************************
                ***************************
                 *************************
                  ***********************
                   *********************
                    *******************
                     *****************
                      ***************
                       *************
                        ***********
                         *********
                          *******
                           *****
                            ***
                             *

In [89]:
height = int(input("Enter diamond's height: "))

# upper half of diamond
for i in range(height):
  print(" " * (height - i - 1) + "*" * (2 * i + 1))

# lower half of diamond
for i in range(height - 2, -1, -1):
  print(" " * (height - i - 1) + "*" * (2 * i + 1))

Enter diamond's height: 4
   *
  ***
 *****
*******
 *****
  ***
   *